[Desktop Entry]
Name=GTK2 Preferences
Name[pl]=GTK2 Ustawienia
Exec=gtk2_prefs
Type=Application
Terminal=false
Categories=GTK;Settings;DesktopSettings;
Icon=gtk2_prefs
# vi: encoding=utf-8
